<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Acerca de...</li>
        </ol>
    </nav>
</div>
<div class="container mb-4">
    <div class="row mt-4">
        <article class="col-lg-6 text-justify mb-2">
            <h1 class="wow bounceIn text-center" data-wow-delay=".3s">Bienvenidos</h1>
            <hr>
            <p> Bienvenidos a su <b>Consultorio Médico</b>, un lugar donde podrás realizar las consultas online de una manera mucho más rápida y sin la preocupación de tener que esperar a nuestros médicos de manera presencial en su consultorio. <br><br> Gracias
                a la ayuda de nuestras enfermeras calificadas podrás encontrar a nuestros médicos de manera online en cualquier lugar que se encuentren, los cuales te recetarán lo necesario dependiendo de tu enfermedad, siempre y cuando las enfermedades
                de nuestros pacientes puedan ser atendidas por nuestros médicos.</p>
        </article>
        <aside class="col-lg-6">
            <img src="../images/medicos1..jpg" alt="medicos1" class="img-thumbnail">
            <small class="form-text text-muted text-center">Nuestros médicos siempre están listos para atenderte.</small>
        </aside>
    </div>
    <div class="row mt-4">
        <article class="col-lg-6">
            <img src="../images/medicos2.jpg" alt="misiónMedicos" class="img-thumbnail">
            <small class="form-text text-muted text-center">Contamos con enfermeras y médicos profesionales</small>
        </article>
        <aside class="col-lg-6 text-justify">
            <h1 class="wow bounceIn text-center" data-wow-delay=".9s">Nuestra misión</h1>
            <hr>
            <p>
                Gracias a la versatilidad que nuestros Ingenieros en Sistemas han podido brindarnos,ahora tus consultas pueden ser atendidas desde cualquier parte del mundo donde te encuentres, sólo danos tus datos y después de unas horas tendrás tu cita disponible para
                que puedas charlar con uno de nuestros médicos para poder realizar tu consulta de una manera fácil y rápida. <br><br> Actualmente contamos con la única posibilidad de que la consulta la puedas realizar yendo al consultorio
                de un médico, donde una enfermera guardará tus datos y en la brevedad podrás comenzar con una consulta de manera online desde nuestra página web. Después de que todo esto se pruebe como un éxito se podrán realizar las consutlas desde la
                comodidad de tu casa, con sólo ingresar unos datos y mandar un correo podrás empear con la consulta sin la necesidad de tener que ir al consultorio a visitar a nuestras enfermeras. </p>
        </aside>
    </div>
</div>