<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Acerca de...</li>
        </ol>
    </nav>
</div>
<div class="container mb-4">
    <div class="row mt-4">
        <article class="col-md-6 text-justify mb-2">
            <h1 class="wow bounceIn text-center" data-wow-delay=".3s">Bienvenidos</h1>
            <hr> Bienvenidos a su <b>Consultorio Médico</b>, un lugar donde podrás realizar las consultas online de una manera mucho más rápida y sin la preocupación de tener que esperar a nuestros médicos de manera presencial en su consultorio. <br><br>            Gracias a la ayuda de nuestras enfermeras calificadas podrás encontrar a nuestros médicos de manera online en cualquier lugar que se encuentren, los cuales te recetarán lo necesario dependiendo de tu enfermedad, siempre y cuando las enfermedades
            de nuestros pacientes puedan ser atendidas por nuestros médicos.
        </article>
        <aside class="col-md-6">
            <img src="../images/medicos1..jpg" alt="medicos1" class="img-thumbnail">
            <small class="form-text text-muted text-center">Nuestros médicos siempre están listos para atenderte.</small>
        </aside>
    </div>
    <div class="row mt-4">
        <article class="col-md-6">
            <img src="../images/medicos2.jpg" alt="misiónMedicos" class="img-thumbnail">
            <small class="form-text text-muted text-center"></small>
        </article>
        <aside class="col-md-6 text-justify">
            <h1 class="wow bounceIn text-center" data-wow-delay=".9s">Nuestra misión</h1>
            <hr> Gracias a la versatilidad que nuestros ingenieros en sistemas han podido brindarnos,ahora tus consultas pueden ser atendidas desde cualquier parte del mundo donde te encuentres, sólo danos tus datos y después de unas horas tendrás tu cita
            disponible para que puedas charlar con uno de nuestros médicos para poder realizar tu consulta de una manera fácil y rápida.
        </aside>
    </div>
</div>