<div class="container text-sm-center mb-4 mt-4">
    <div class="row">
        <div class="col">
            <img src="../images/ambulancia.png" alt="error" style="width: 300px; height: 300px;">
        </div>
        <div class="col">
            <h1 style="color: #db0f0f;">¡ERROR 404!</h1>
            <h6>Página no encontrada</h6>
            <p>Parece que la página que estás busando no existe, por favor regresa al inicio </p>
            <a href="#!/" class="btn btn-info">Volver al inicio</a>
        </div>
    </div>
</div>