<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="#!registro">Registro</a></li>
        <li class="breadcrumb-item active" aria-current="page">Médicos</li>
    </ol>
</nav>
<center>
    <div class="form-group col-md-6 ">
        <section class="container" ng-controller="inicioMed">
            <h1>Iniciar Sesión</h1>
            <form>
                <div class="input-group mb-3 flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-envelope"></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Correo" title="Introduce tu correo">
                </div>
                <div class="input-group mb-3 flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-key"></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" title="Introduce tu contraseña"><br>
                </div>
                <center>
                    <input type="submit" value="Iniciar Sesión" class="btn btn-info">
                </center>
            </form>
            <br>
            <h5>¿No estás registrado?</h5>
            <a href="#!regisMedico" class="btn btn-primary hidden-sm-down">Registrarse</a>
        </section>
    </div>
</center>