<div ng-controller="homeController">
    <section class="bienvenidos">
        <div class="texto-encabezado text-sm-center">
            <div class="container">
                <h1 class="display-4 wow bounceIn">Realiza tu consulta de manera virtual</h1>
                <p class="wow bounceIn" data-wow-delay=".3s">Atendemos a nuestros clientes gracias a la versatilidad de la tecnología.</p>
                <a href="#!registro" class="btn btn-info btn-lg">Empezar con la consulta</a>
            </div>
        </div>
        <div class="flecha-bajar text-sm-center">
            <a data-scroll href="#consulta"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
    </section>
    <section class="consultorio py-1" id="consulta">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <img src="images/cruz.png" alt="img1" class="img-fluid">
                </div>
                <div class="col-md-8 col-xl-9 wow bounceIn" data-wow-delay=".3s">
                    <h2 class="h3 text-sm-center text-md-left font-weight-bold">Consultorio médico online profesional.</h2>
                    <p>Gracias a la ayuda de nuestros diseñadores y programadores hemos logrado conseguir que nuestras consultas sean más dinámicas y sean accesibles para cualquier persona.</p>
                    <p>Ponemos a tu alcance un servicio adaptado a tus necesidades, con consultas integrales realizadas por médicos profesionales y certificados de las mejores universidades del país los cuales han sido calificados y puestos a prueba para
                        poder realizar consultas de manera remota con cualquier usuario que requiera una consulta rápida y a un precio accesible.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <main class="servicios py-1">
        <div class="container">
            <h2 class="text-sm-center font-weight-bold">Nuestros Servicios</h2>
            <div class="row">
                <article class="col-md-4">
                    <img src="images/servicio1.svg" alt="servicio1" class="img-fluid">
                    <h3>Diagnósticos en vivo</h3>
                    <p class="hidden-sm-down">Tus datos y tu diagnóstico son escuchados por un médico profesional en tiempo real, 100% garantizado.</p> <br>
                    <a href="#!about" class="btn btn-primary hidden-sm-down">Más información</a>
                </article>
                <article class="col-md-4">
                    <img src="images/servicio2.svg" alt="servicio2">
                    <h3>Médicos profesionales</h3>
                    <p class="hidden-sm-down">Cada uno de nuestros médicos está calificado para poder realizar la consulta de manera remota, sin la necesidad de tener que hacerla presencial.</p>
                    <a href="#!about" class="btn btn-primary hidden-sm-down">Más información</a>
                </article>
                <article class="col-md-4">
                    <img src="images/servicio3.svg" alt="servicio3">
                    <h3>Enfermeras calificadas</h3>
                    <p class="hidden-sm-down">Nuestras enfermeras le ayudarán en el proceso de llenado de datos y todo acerca de sus síntomas para poderle dar la atención necesaria.</p>
                    <a href="#!about" class="btn btn-primary hidden-sm-down">Más información</a>
                </article>
            </div>
        </div>
    </main>
</div>