<!-- CAMBIAR TODAS LAS IMÁGENES DE ESTA SECCIÓN -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registro</li>
    </ol>
</nav>
<main class="servicios py-1">
    <div class="container">
        <h2 class="text-sm-center font-weight-bold">Identifícate</h2>
        <div class="row">
            <article class="col-md-4">
                <img src="images/autoregistro.svg" alt="imagenRegistro">
                <h3>Registrarse</h3>
                <p class="hidden-sm-down">¿Eres nuevo en nuestro consultorio? Regístrate.</p>
                <a href="#!altaRegistro" class="btn btn-info hidden-sm-down">Registrarse</a>
            </article>
            <article class="col-md-4">
                <img src="images/medico.svg" alt="imagenMédico">
                <h3>Médico</h3>
                <p class="hidden-sm-down">¿Ya estás registrado como médico? Identifícate.</p>
                <a href="#!medico" class="btn btn-info hidden-sm-down">Iniciar Sesión</a>
            </article>
            <article class="col-md-4">
                <img src="images/servicio3.svg" alt="imagenEnfermera">
                <h3>Enfermera</h3>
                <p class="hidden-sm-down">¿Ya estás resigtrada como enfermera? Identifícate.</p>
                <a href="#!enfermera" class="btn btn-info hidden-sm-down">Iniciar Sesión</a>
            </article>
        </div>
    </div>
</main>