<head>
    <title>Citas Médicas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>

<body ng-app="myApp" ng-controller="verificacion">

    <center>
        <br><br><br>
        <div class="form-group col-md-6 ">
            <section class="container">
                <h1>Verificación</h1>
                <form>
                    <div class="input-group mb-3 flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-question-circle"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="token" title="Introduce el token" ng-model="tokenU">
                    </div>
                    <center>
                        <input type="submit" value="verificar" class="btn btn-info" ng-click="verificar()">
                    </center>
                </form>
                <br>
            </section>
        </div>
    </center>

    <footer class="piedepagina py-1" role="contentinfo">
        <p>2019 © Consultorio-Médico. Todos los derechos reservados.</p>
        <div class="container">
            <ul class="redes-sociales">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true" id="face"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true" id="tweet"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true" id="youtube"></i></a></li>
            </ul>
        </div>
    </footer>

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/sitio.js"></script>
    <script src="js/controlador.js"></script>
</body>