<nav>
    <ul id="navigation">
        <li class="home">
            <a href="#!indexMed" title="Inicio"><i class="fa fa-home fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="sala">
            <a href="#!consulta" title="Sala de Consultas"><i class="fa fa-heartbeat fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="consultas">
            <a href="#!misCons" title="Mis Consultas"><i class="fa fa-clipboard fa-3x ml-3 mt-2" aria-hidden="true"></i></a>
        </li>
        <li class="logOut">
            <a href="#!indexMed" title="Cerrar Sesión"><i class="fa fa-sign-out fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
    </ul>
    <!-- Logo y el nombre del médico -->
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#!/indexMed" class="logo ">
                    <img src="/images/logo-consultorio-medico.png" alt="logo" class="mt-1">
                </a>
            </div>
            <div class="col">
                <h6 class="text-sm-right mt-4 fixed">Bienvenido <b>"NombreMédico"</b></h6>
                <!-- Reemplazar "NombreMédico" por el nombre del médico en sesión -->
            </div>
        </div>
        <hr>
    </div>
</nav>

<div class="container">
    <div class="row">
        <article class="col">
            <h1>
                Cabecera Principal
            </h1>
        </article>
        <aside class="col">
            <h2>Médico General</h2>
        </aside>
    </div>

</div>