<nav>
    <ul id="navigation">
        <li class="home">
            <a href="#!indexMed" title="Inicio"><i class="fa fa-home fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="sala">
            <a href="#!consulta" title="Sala de Consultas"><i class="fa fa-heartbeat fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="consultas">
            <a href="#!misCons" title="Mis Consultas"><i class="fa fa-clipboard fa-3x ml-3 mt-2" aria-hidden="true"></i></a>
        </li>
        <li class="estadisticas">
            <a href="#!statistics" title="Estadísticas"><i class="fa fa-table fa-3x ml-3 mt-2" aria-hidden="true"></i></a>
        </li>
        <li class="regisEnf">
            <a href="#!regisEnfermera" title="Registrar Enfermera"><i class="fa fa-user-plus fa-3x ml-3 mt-2" aria-hidden="true"></i></a>
        </li>
        <li class="logOut">
            <a href="#!indexMed" title="Cerrar Sesión"><i class="fa fa-sign-out fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
    </ul>
    <!-- Logo y el nombre del médico -->
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#!/indexMed" class="logo ">
                    <img src="/images/logo-consultorio-medico.png" alt="logo" class="mt-1">
                </a>
            </div>
            <div class="col">
                <h6 class="text-sm-right mt-4 fixed"><i class="fa fa-user-md fa-2x mr-2"></i>Bienvenido <b>{{medico}}</b></h6>
            </div>
        </div>
        <hr>
    </div>
</nav>
<nav class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!/indexMed">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sala de Consultas</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <h4 class="xd"><span>VideoChat</span></h4>
            </div>
            <div class="col-md-6">
                <h4 class="xd"><span>Expediente del Paciente</span></h4>
            </div>
        </div>
    </div>
</nav>