<nav class="container" ng-init="iniciar()">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!/indexMed">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sala de Consultas</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="xd text-center"><span>VideoChat</span></h4>
                <label>Your ID:</label><br/>
                <textarea id="yourId"></textarea><br/>
                <label>Other ID:</label><br/>
                <textarea id="otherId"></textarea>
                <button id="connect">connect</button><br/>

                <label>Enter Message:</label><br/>
                <textarea id="yourMessage"></textarea>
                <button id="send">send</button>
                <pre id="messages"></pre>

                <button hidden id="Conectar">Conectar</button>
            </div>
            <div class="col-md-6">
                <h4 class="xd"><span>Expediente del Paciente</span></h4>
            </div>
        </div>
    </div>
</nav>