<nav>
    <ul id="navigationE">
        <li class="home">
            <a href="#!indexEnf" title="Inicio"><i class="fa fa-home fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="sala">
            <a href="#!consulta#init" title="Sala de Consultas"><i class="fa fa-heartbeat fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="consultas">
            <a href="#!indexEnf" title="Mis Consultas"><i class="fa fa-clipboard fa-3x ml-3 mt-2" aria-hidden="true"></i></a>
        </li>
        <li class="estadisticas">
            <a href="#!indexEnf" title="Estadísticas"><i class="fa fa-table fa-3x ml-3 mt-2" aria-hidden="true"></i></a>
        </li>
        <li class="logOut">
            <a href="#!indexEnf" title="Cerrar Sesión"><i class="fa fa-sign-out fa-4x ml-3" aria-hidden="true"></i></a>
        </li>
    </ul>
    <!-- Logo y el nombre de la enfermera -->
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#!/indexMed" class="logo ">
                    <img src="/images/logo-consultorio-medico.png" alt="logo" class="mt-1">
                </a>
            </div>
            <div class="col">
                <h6 class="text-sm-right mt-4 fixed"><i class="fa fa-female fa-2x mr-2"></i>Bienvenida <b>{{enfermera}}</b></h6>
            </div>
        </div>
        <hr id="enf">
    </div>
</nav>